<div class="grid">
    <div ngFor="" class="grid-item">
        <div class="grid-item-image-title">
            <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/max_titanium_creatine.jpeg" alt="">
            <span class="grid-item-title">Creatina - Max Titanium</span>
        </div>
        <!-- <span class="grid-item-desc">O principal papel da creatina no organismo está relacionado com a geração de energia para o corpo, pois a creatina é fundamental ao sistema ATP-CP, que é considerado um dos principais sistemas metabólicos utilizados na musculação.</span> -->
        <div class="grid-item-footer">
            <span class="grid-item-value">R$97,90</span>
            <!-- <button class="grid-item-button" click="">Comprar</button> -->
            <a href="https://wa.me/p/7204534086280640/5516993392966" class="grid-item-button">
                <!-- <i class="fa fa-shopping-cart"></i> -->
                <span>Comprar</span>
            </a>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-image-title">
            <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/probiotica_100_whey_iogurte_morango.jpeg" alt="">
            <span class="grid-item-title">100% Pure Whey Refil 900g - Probiótica - Iogurte de morango</span>
        </div>
        <!-- <span class="grid-item-desc">100% PURE WHEY® é o suplemento proteico campeão de vendas Probiótica, composto basicamente por proteína concentrada do soro do leite (whey protein concentrate), matéria-prima elaborada com alta tecnologia e com elevada concentração de aminoácidos. De preparo instantâneo, 100% PURE WHEY® é indicado para ser tomado antes e/ou após os exercícios.</span> -->
        <div class="grid-item-footer">
            <span class="grid-item-value">R$98,90</span>
            <!-- <button class="grid-item-button" click="">Comprar</button> -->
            <a href="https://wa.me/p/7036300206453682/5516993392966" class="grid-item-button">
                <!-- <i class="fa fa-shopping-cart"></i> -->
                <span>Comprar</span>
            </a>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-image-title">
            <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/probiotica_100_whey_cookies_cream.jpeg" alt="">
            <span class="grid-item-title">100% Pure Whey Refil 900g - Probiótica - Cookies & Cream</span>
        </div>
        <!-- <span class="grid-item-desc">100% PURE WHEY® é o suplemento proteico campeão de vendas Probiótica, composto basicamente por proteína concentrada do soro do leite (whey protein concentrate), matéria-prima elaborada com alta tecnologia e com elevada concentração de aminoácidos. De preparo instantâneo, 100% PURE WHEY® é indicado para ser tomado antes e/ou após os exercícios.</span> -->
        <div class="grid-item-footer">
            <span class="grid-item-value">R$98,90</span>
            <!-- <button class="grid-item-button" click="">Comprar</button> -->
            <a href="https://wa.me/p/24910721375208615/5516993392966" class="grid-item-button">
                <!-- <i class="fa fa-shopping-cart"></i> -->
                <span>Comprar</span>
            </a>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-image-title">
            <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/horus_150_frutas_vermelhas.jpeg" alt="">
            <span class="grid-item-title">Horus 150mg - Max Titanium - Frutas vermelhas</span>
        </div>
        <!-- <span class="grid-item-desc">100% PURE WHEY® é o suplemento proteico campeão de vendas Probiótica, composto basicamente por proteína concentrada do soro do leite (whey protein concentrate), matéria-prima elaborada com alta tecnologia e com elevada concentração de aminoácidos. De preparo instantâneo, 100% PURE WHEY® é indicado para ser tomado antes e/ou após os exercícios.</span> -->
        <div class="grid-item-footer">
            <span class="grid-item-value">R$74,90</span>
            <!-- <button class="grid-item-button" click="">Comprar</button> -->
            <a href="https://wa.me/p/7275765609111123/5516993392966" class="grid-item-button">
                <!-- <i class="fa fa-shopping-cart"></i> -->
                <span>Comprar</span>
            </a>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-image-title">
            <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/refil.jpeg" alt="">
            <span class="grid-item-title">Mass Titanium Refil 1,4kg - Max Titanium - Morango</span>
        </div>
        <!-- <span class="grid-item-desc">100% PURE WHEY® é o suplemento proteico campeão de vendas Probiótica, composto basicamente por proteína concentrada do soro do leite (whey protein concentrate), matéria-prima elaborada com alta tecnologia e com elevada concentração de aminoácidos. De preparo instantâneo, 100% PURE WHEY® é indicado para ser tomado antes e/ou após os exercícios.</span> -->
        <div class="grid-item-footer">
            <span class="grid-item-value">R$63,90</span>
            <!-- <button class="grid-item-button" click="">Comprar</button> -->
            <a href="https://wa.me/p/7566238173420883/5516993392966" class="grid-item-button">
                <!-- <i class="fa fa-shopping-cart"></i> -->
                <span>Comprar</span>
            </a>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-image-title">
            <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/2_hot.jpeg" alt="">
            <span class="grid-item-title">2Hot 200g - Max titanium - Uva</span>
        </div>
        <!-- <span class="grid-item-desc">100% PURE WHEY® é o suplemento proteico campeão de vendas Probiótica, composto basicamente por proteína concentrada do soro do leite (whey protein concentrate), matéria-prima elaborada com alta tecnologia e com elevada concentração de aminoácidos. De preparo instantâneo, 100% PURE WHEY® é indicado para ser tomado antes e/ou após os exercícios.</span> -->
        <div class="grid-item-footer">
            <span class="grid-item-value">R$71,90</span>
            <!-- <button class="grid-item-button" click="">Comprar</button> -->
            <a href="https://wa.me/p/7145734212214031/5516993392966" class="grid-item-button">
                <!-- <i class="fa fa-shopping-cart"></i> -->
                <span>Comprar</span>
            </a>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-image-title">
            <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/zero_lactosis.jpeg" alt="">
            <span class="grid-item-title">100% Pure Whey Zero Lactose Pote 900g - Probiótica - Baunilha</span>
        </div>
        <!-- <span class="grid-item-desc">100% PURE WHEY® é o suplemento proteico campeão de vendas Probiótica, composto basicamente por proteína concentrada do soro do leite (whey protein concentrate), matéria-prima elaborada com alta tecnologia e com elevada concentração de aminoácidos. De preparo instantâneo, 100% PURE WHEY® é indicado para ser tomado antes e/ou após os exercícios.</span> -->
        <div class="grid-item-footer">
            <span class="grid-item-value">R$175,90</span>
            <!-- <button class="grid-item-button" click="">Comprar</button> -->
            <a href="https://wa.me/p/7015512008538589/5516993392966" class="grid-item-button">
                <!-- <i class="fa fa-shopping-cart"></i> -->
                <span>Comprar</span>
            </a>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-image-title">
            <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/isolated.jpeg" alt="">
            <span class="grid-item-title">Iso Pro Whey Pote 900g - Probiótica - Baunilha</span>
        </div>
        <!-- <span class="grid-item-desc">100% PURE WHEY® é o suplemento proteico campeão de vendas Probiótica, composto basicamente por proteína concentrada do soro do leite (whey protein concentrate), matéria-prima elaborada com alta tecnologia e com elevada concentração de aminoácidos. De preparo instantâneo, 100% PURE WHEY® é indicado para ser tomado antes e/ou após os exercícios.</span> -->
        <div class="grid-item-footer">
            <span class="grid-item-value">R$161,90</span>
            <!-- <button class="grid-item-button" click="">Comprar</button> -->
            <a href="https://wa.me/p/7790692274277480/5516993392966" class="grid-item-button">
                <!-- <i class="fa fa-shopping-cart"></i> -->
                <span>Comprar</span>
            </a>
        </div>
    </div>
</div>