.grid {
    padding: 15vh calc(10vw - 25px) 15vh calc(10vw - 25px);

    .grid-item {
        height: 600px;
        margin: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: space-between;

        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);

        width: 16.66%;
        border: 1px solid #E6E6E6;
        padding: 20px;

        .grid-item-image-title {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .grid-item-image {
            width: 280px;
            margin-bottom: 15px;
        }

        .grid-item-title {
            display: flex;
            justify-content: center;
            font-size: 18px;
            padding: 0px 15px;
            font-weight: bold;
        }

        .grid-item-desc {
            opacity: 0.5;
            margin-top: 15px;
            padding: 0px 15px;
        }

        .grid-item-footer {
            display: flex;
            flex-flow: column;
            align-items: center;
            // position: fixed;
            // top: 0px;
        }

        .grid-item-value {
            color: #4169E1;
            font-size: 24px;
            margin-top: 15px; 
        }

        .grid-item-button {
            color: #ffffff;
            background-color: transparent;
            border: 1px solid #50FA7B;
            background-color: #50FA7B;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 15px;
            padding: 10px;
            text-decoration: none;

            display: flex;
            justify-content: center;

            i {
                margin-right: 10px;
            }
        }
    }
}

.grid-category-title {
    width: 100%;
    display: block;
    margin: 0px 25px;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6;
}

.grid-category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.flavor-div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-left: 30px;
}

.flavor-tag {
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
}

.flavor-red {
    background-color: #FF5555;
}

.flavor-purple {
    background-color: #BD93F9;
}

.flavor-unflavored {
    background-color: #44475A;
    color: #FFFFFF;
}

.flavor-orange {
    background-color: #FFB86C;
}

.flavor-yellow {
    background-color: #F1FA8C;
}

/* Responsiveness */
@media (max-width: 501px) {
    .grid-category-container {
        flex-direction: column;
    }

    .grid-category-title {
        margin: 0px !important;
    }

    .grid-item {
        height: fit-content !important;
        margin: 15px 0px !important;
        width: calc(100% - 45px) !important;
    }

    .grid-item:last-of-type {
        margin-bottom: 80px !important;
    }
}