<div class="grid">

    <span class="grid-category-title">Proteínas</span>
    
    <div class="grid-category-container">
        <div class="grid-item">
            <div class="grid-item-image-title">
                <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/probiotica_100_whey_iogurte_morango.jpeg" alt="">
                <span class="grid-item-title">100% Pure Whey Refil 900g - Probiótica - Iogurte de morango</span>
                <span class="grid-item-desc">Ajuda Na Hipertrofia, Melhor custo x benefício, Alta concentração de proteína.</span>
            </div>
            <div class="grid-item-footer">
                <span class="grid-item-value">R$98,90</span>
                <a href="https://wa.me/p/7036300206453682/5516993392966" class="grid-item-button">
                     <i class="fa fa-shopping-cart"></i> 
                    <span>Comprar</span>
                </a>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="grid-item-image-title">
                <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/probiotica_100_whey_cookies_cream.jpeg" alt="">
                <span class="grid-item-title">100% Pure Whey Refil 900g - Probiótica - Cookies & Cream</span>
                <span class="grid-item-desc">Ajuda Na Hipertrofia, Melhor custo x benefício, Alta concentração de proteína.</span>
            </div>
            <div class="grid-item-footer">
                <span class="grid-item-value">R$98,90</span>
                <a href="https://wa.me/p/24910721375208615/5516993392966" class="grid-item-button">
                     <i class="fa fa-shopping-cart"></i> 
                    <span>Comprar</span>
                </a>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="grid-item-image-title">
                <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/zero_lactosis.jpeg" alt="">
                <span class="grid-item-title">100% Pure Whey Zero Lactose Pote 900g - Probiótica - Baunilha</span>
                <span class="grid-item-desc">Zero Lactose, Rápido Esvaziamento Gástrico, Maior Conforto Digestivo.</span>
            </div>
            <div class="grid-item-footer">
                <span class="grid-item-value">R$175,90</span>
                <a href="https://wa.me/p/7015512008538589/5516993392966" class="grid-item-button">
                     <i class="fa fa-shopping-cart"></i> 
                    <span>Comprar</span>
                </a>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="grid-item-image-title">
                <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/isolated.jpeg" alt="">
                <span class="grid-item-title">Iso Pro Whey Pote 900g - Probiótica - Baunilha</span>
                <span class="grid-item-desc">Baixa Concentração De Lactose, Rápido Esvaziamento Gástrico, Maior Conforto Digestivo.</span>
            </div>
            <div class="grid-item-footer">
                <span class="grid-item-value">R$161,90</span>
                <a href="https://wa.me/p/7790692274277480/5516993392966" class="grid-item-button">
                     <i class="fa fa-shopping-cart"></i> 
                    <span>Comprar</span>
                </a>
            </div>
        </div>
    </div>

    <span class="grid-category-title">Aminoácidos</span>

    <div class="grid-category-container">
        <div ngFor="" class="grid-item">
            <div class="grid-item-image-title">
                <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/max_titanium_creatine.jpeg" alt="">
                <span class="grid-item-title">Creatina - Max Titanium</span>
                <span class="grid-item-desc">Energia Ao Musculo, Retarda Cansaço Muscular, Recuperação Musculos</span>
            </div>
            <div class="grid-item-footer">
                <span class="grid-item-value">R$97,90</span>
                <a href="https://wa.me/p/7204534086280640/5516993392966" class="grid-item-button">
                     <i class="fa fa-shopping-cart"></i> 
                    <span>Comprar</span>
                </a>
            </div>
        </div>
    </div>

    <span class="grid-category-title">Hipercalórico</span>

    <div class="grid-category-container">
        <div class="grid-item">
            <div class="grid-item-image-title">
                <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/refil.jpeg" alt="">
                <span class="grid-item-title">Mass Titanium Refil 1,4kg - Max Titanium - Morango</span>
                <span class="grid-item-desc">Ajuda Na Hipertrofia, Melhor custo x benefício, Alta concentração de proteína.</span>
            </div>
            <div class="grid-item-footer">
                <span class="grid-item-value">R$63,90</span>
                <a href="https://wa.me/p/7566238173420883/5516993392966" class="grid-item-button">
                     <i class="fa fa-shopping-cart"></i> 
                    <span>Comprar</span>
                </a>
            </div>
        </div>
    </div>

    <span class="grid-category-title">Pré treino</span>

    <div class="grid-category-container">
        <div class="grid-item">
            <div class="grid-item-image-title">
                <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/horus_150_frutas_vermelhas.jpeg" alt="">
                <span class="grid-item-title">Horus 150mg - Max Titanium - Frutas vermelhas</span>
                <span class="grid-item-desc">Horus auxilia você a subir de nível, progredir e avançar diariamente em busca do resultado que deseja.</span>
            </div>
            <div class="grid-item-footer">
                <span class="grid-item-value">R$74,90</span>
                <a href="https://wa.me/p/7275765609111123/5516993392966" class="grid-item-button">
                     <i class="fa fa-shopping-cart"></i> 
                    <span>Comprar</span>
                </a>
            </div>
        </div>
    </div>


    <span class="grid-category-title">Termogênico</span>

    <div class="grid-category-container">
        <div class="grid-item">
            <div class="grid-item-image-title">
                <img class="grid-item-image" src="dist/nutryplus-front-end/browser/assets/products/2_hot.jpeg" alt="">
                <span class="grid-item-title">2Hot 200g - Max titanium - Uva</span>
                <span class="grid-item-desc">Alta Concentração De Energia, Substituidor De Refeição, Lenta Digestão.</span>
            </div>
            <div class="grid-item-footer">
                <span class="grid-item-value">R$71,90</span>
                <a href="https://wa.me/p/7145734212214031/5516993392966" class="grid-item-button">
                     <i class="fa fa-shopping-cart"></i> 
                    <span>Comprar</span>
                </a>
            </div>
        </div>
    </div>
</div>